# Database
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=your-db-name-here


# JWT
JWT_SECRET=your-secret-here
JWT_EXPIRES_IN=1d

# API Keys
API_KEY=your-api-key-here

# Environment
NODE_ENV=development
PORT=3000
INVOICE_PORT=3300
GLOBAL_PREFIX=api/v1

INVOICE_SERVICE_HOST=localhost
TCP_INVOICE_SERVICE_PORT=3301
